.App {
  text-align: center;
}

body {
  background-color: lavender;
}

#app-header {
  background-color: #6200EE;
  color: white;
  padding-bottom: 1%;
}

h1 {
  margin-top: 0px;
}

#add-user-btn {
  background-color: #3700B3;
  color: white;
  padding: 2%;
  border-radius: 10px;
  font-size: 100%;
}

#add-user-form {
  width: 30%;
  border: 1px solid gray;
  background-color: white;
  padding: 15px;
  text-align: left;
  margin: 2% 5%;
}

label {
  margin: 15px;
}

#email-input {
  width: 55%;
  margin: 15px;
}

.name-input {
  width: 35%;
  margin: 15px;
}

#users {
  margin: 1% 5%;
}

#users th {
  background-color: #6200EE;
  color: white;
}

#users td {
  background-color: white;
}

td, th {
  padding: 10px 50px 10px 10px;
  text-align: left;
}

#edit-btn {
  background-color: gold;
}

#delete-btn {
  background-color: red;
  color: white;
}

#edit-btn, #delete-btn, #save-btn, #cancel-btn, #add-user-btn {
  margin: 5px 10px;
  padding: 8px 15px;
  border-color: beige;
  border-radius: 15px;
}

#save-btn {
  background-color: #3700B3;
  color: white;
}

.popup-content {
  background-color: aliceblue;
  border: 1px solid lightblue;
  min-width: 30%;
  width: fit-content;
  text-align: left;
  padding: 15px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  #app-header {
    font-size: 22px;
  }

  #add-user-form {
    width: 75%;
  }

  #users {
    width: 90%;
  }
}